pipline/ingestion_raw_data.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"read_metadata Moamen20175":{"type":"string"},"hospital_lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"ingestion_raw_data","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"read_metadata","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"refs/heads/main/metadata/ingestion_config.json"}},"schema":{},"externalReferences":{"connection":"[parameters('read_metadata Moamen20175')]"}}}},{"name":"ingest_metadata","type":"ForEach","dependsOn":[{"activity":"Filter_for_active_entitites","dependencyConditions":["Completed"]}],"typeProperties":{"items":{"value":"@activity('Filter_for_active_entitites').output.value","type":"Expression"},"activities":[{"name":"ingest_csv","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().source_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('read_metadata Moamen20175')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"hospital_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"402d805b-7356-4468-a8e3-46da15003a71","artifactId":"[parameters('hospital_lakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().raw_file","type":"Expression"},"folderPath":{"value":"@item().raw_folder","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"Filter_for_active_entitites","type":"Filter","dependsOn":[{"activity":"read_metadata","dependencyConditions":["Completed"]}],"typeProperties":{"items":{"value":"@activity('read_metadata').output.value","type":"Expression"},"condition":{"value":"@equals(item().active,true)","type":"Expression"}}},{"name":"bronze_stage_notebook","type":"TridentNotebook","dependsOn":[{"activity":"ingest_metadata","dependencyConditions":["Completed"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"6894270f-0d33-4df5-96d8-42773edcee22","workspaceId":"402d805b-7356-4468-a8e3-46da15003a71"}},{"name":"silver_stage_notebook","type":"TridentNotebook","dependsOn":[{"activity":"bronze_stage_notebook","dependencyConditions":["Completed"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"1123f092-cfcb-46c2-8b0e-4676545c16a5","workspaceId":"402d805b-7356-4468-a8e3-46da15003a71"}},{"name":"gold_stage_notebook","type":"TridentNotebook","dependsOn":[{"activity":"silver_stage_notebook","dependencyConditions":["Completed"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"ba6f8f26-42d2-4237-ae97-1054febbd39f","workspaceId":"402d805b-7356-4468-a8e3-46da15003a71"}}],"lastModifiedByObjectId":"394e03f5-1f72-4b9c-9f50-41f224a798f0","lastPublishTime":"2026-01-20T22:31:22Z"},"dependsOn":[]}]}